*{
margin:0;
padding: 0;
}

.header{
background-color: #dddddd;
height:100px;
position:relative;			
}

.container{
width:1350px;
height:150px;
margin: 0 auto;
padding: 0;
}
		

#logo{		
float: left;
padding: 25px 130px;
}

.bar1{
float: right;
padding: 35px 120px; 
}

li{
display: inline;
padding: 10px;
}

li a:hover{
background-color: black;
color: white;		  
}

 ul a{
text-decoration: none;
color:#00BFFF;
font-size: 20px;
padding: 10px;
}

.container1{
width:1350px;
height:150px;
margin: 0 auto;
padding: 0;
}

.banner{
height: 155px;
background-color:#00BFFF;		  	
 }

#bannerText{
color: white;
float: left;
margin: 40px 200px;
font-size:30px; 
}

#LeftArrow{
float: left;
margin: 50px 130px;
}

#RightArrow{
float:right;
margin: 60px 155px; 
}

#container2{
width:1350px;
height:150px;
margin: 0 auto;
padding: 0;
}

.content{
height: 450px;		  	
}


#behindbox{
background-color:#ffff66;
width:550px;
height: 440px;
float: left;
position: relative;		  
margin: 10px 0px 5px 120px;
}

#upperbox{
float: left;
background-color:#dab3ff;
width:260px;
height: 300px;
position:relative;
right:600px;
margin-top: 30px;  	
}

.rightside{
position: relative;
float: right;
bottom: 329px;
width:530px;
height: 410px;
margin: 10px 130px 5px 5px;
}

.box1{		  	
display: block;
height: 320px;
background-color: #f57b11;
}

.box2{		  
display: block;	
margin-top: 10px;
height: 110px;	  	
background-color:#9efa34;
}

.box{
color: white;
padding: 3px;
height:30px;
display: inline-block;
border: 1px solid orange;
margin: 10px;
width:50%;
background-color:#ff9900;
font-size: 16px;
}

input[type=submit]{
width:20%;
}

.container3{
width:1350px;
height:150px;
margin: 0 auto;
padding: 0;			
}
    

.footer{		  	
position: relative;
background-color: #008080;
top:10px;
height: 85px;		  
}


#bar2{
position: relative; 	
padding-top:30px;  		
left:390px;
margin-left:100px;
width:800px;	
}

.footer #bar2 li:nth-child(1):after,#bar2 li:nth-child(2):after ,#bar2 li:nth-child(3):after
{     		 
content: "|";
color: white;
padding:12px;    	     		
}


.footer #bar2 ul a{
text-decoration: none;
color:white;
font-size: 15px;
padding: 10px;
}
