*{
margin:0px;
padding:0px;
}

.container{
width:1350px;
height:100px;
margin:0 auto;
padding:0;
}

.header{
background-color: #dddddd;
height:60px;
}

#logo{
position:relative;
width:5%;
height:50%;
float:left;
display:inline block;
padding:5px 100px;
}

.bar1{
float:right;
padding:20px 100px;
}

li{
display:inline;
padding:5px;
}

ul a{
text-decoration:none;
color:#00BFFF;
padding:12px;
font-size:16px;
}

li a:hover{
background-color: black;
color: white;  
}

.banner{
background-color:#00BFFF;
height:120px;
}


#LeftArrow{
float:left;
margin:20px 100px;
width:5%;
height:50%;
}

#RightArrow{
float:right;
margin:25px 120px;
width:5%;
height:50%;
}

.BannerText{
float:left;
color:white;
padding:20px 150px 20px 300px;
font-size:25px;
}

.content{
height:450px;
}

#container2{
width:1350px;
height:100px;
margin:0 auto;
padding:0;
}

.behindbox{
background-color:yellow;
width:500px;
height: 420px;
float: left;
position: relative;		  
margin: 10px 0px 10px 110px;
}

.upperbox{
background-color:#dab3ff;
width:280px;
height: 350px;
float: left;
position:relative;
left:-80px;
top:20px;
}

.rightside{
float: right;
position: relative;
width: 600px;
height: 420px;
margin:-430px 124px 10px 75px;
}


.box1{		  	
display: block;
height: 293px;
background-color: #f57b11;
}

.box2{		  
display: block;	
margin-top:12px;
height: 115px;	  	
background-color:#9efa34;
}

.list{
height:30px;
display:inline-block;
border: 1px solid organge;  
margin:12px;
width:50%;
background-color:#ff9900;
}


input[type=submit]{
width:20%;
}


.footer{	  	
position: relative;
bottom:0px;
background-color: #008080;
height: 85px;
text-align: center;		  
}

#bar2{	  	
padding: 40px;		  		
position: relative;
left:-70px;
margin-left: 200px;
}


.footer #bar2 li:nth-child(1):after , #bar2 li:nth-child(2):after ,#bar2 li:nth-child(3):after
 { 
color: white;   		     	
content: "|";  		
}


.footer #bar2 ul a{
text-decoration: none;
color:white;
font-size:15px;
}

